@page "/coachprofile/{coachid:int}/{teamid:int}"

@inject IFootballDataService FootballDataService;

@if (isPageLoading)
{
    <p><em>Loading...</em></p>
}
else if (isInvalidTeam)
{
    <ErrorMessage Error="@ErrorMessage"></ErrorMessage>
}
else if (team.TeamID == 0)
{
    <ErrorMessage Error="The team could not be found"></ErrorMessage>
}
else if (coach.CoachID == 0)
{
    <ErrorMessage Error="The coach could not be found"></ErrorMessage>
}
else
{
    <h1 style="padding-bottom: 20px;">@coach.Name</h1>

    <table class="table" style="width:780px; margin-bottom:10px;">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Date of birth</th>
            <th>Nationality</th>
        </tr>
        <tr>
            <td>@coach.Name</td>
            <td>@coach.Age</td>
            <td>@coach.DateOfBirth.ToString("dd MMM yyyy")</td>
            <td>@coach.Nationality</td>
        </tr>
    </table>

    <a href="team/@TeamID">Back to Team</a>
}