@page "/playerprofile/{playerid:int}/{teamid:int}"
 
@inject IFootballDataService FootballDataService;

@if (isPageLoading)
{
    <p><em>Loading...</em></p>
}
else if (isInvalidTeam)
{
    <ErrorMessage Error="@ErrorMessage"></ErrorMessage>
}
else if (team.TeamID == 0)
{
    <ErrorMessage Error="The team could not be found"></ErrorMessage>
}
else if (player.PlayerID == 0)
{
    <ErrorMessage Error="The player could not be found"></ErrorMessage>
}
else
{
    <h1 style="padding-bottom: 20px;">@player.Name</h1>

    <table class="table" style="width:780px; margin-bottom:10px;">
        <tr>
            <th>Team Name</th>
            <th>Position</th>
            <th>Age</th>
            <th>Date of Birth</th>
            <th>Nationality</th>
            <th>Confederation</th>
        </tr>
        <tr>
            <td>@player.TeamName</td>
            <td>@player.Position</td>
            <td>@player.Age</td>
            <td>@playerDateOfBirth</td>
            <td>@player.Nationality</td>
            <td>@player.ConfederationForDisplay</td>
        </tr>
    </table>

    <a href="team/@TeamID">Back to Team</a>
}