@if (FixturesAndResultsExist)
{
    switch (ComponentSource)
    {
        case Enums.ComponentSource.FixturesAndResults:
        case Enums.ComponentSource.Team:
            @if (!IsSmall)
            {
                <h2 style="padding-bottom: 10px;">
                    @FixtureDate.ToString("dddd dd MMMM yyyy")
                </h2>
            }
            else
            {
                <h4 style="padding-bottom: 10px;">
                    @FixtureDate.ToString("dddd dd MMMM yyyy")
                </h4>
            }
            break;
        case Enums.ComponentSource.FixturesByGroup:
            <h4 style="padding-bottom: 10px;">
                @FixtureDate.ToString("dddd dd MMMM yyyy")
            </h4>
            break;
        default:
            break;
    }

    <table class="table" style="@TableStyle">
        @foreach (var fixtureAndResult in FixturesAndResults)
        {
            <FixtureAndResult ComponentSource="ComponentSource" FixtureAndResultModel="fixtureAndResult"></FixtureAndResult>
        }
    </table>
}

<MediaQuery Media="@BlazorPro.BlazorSize.Breakpoints.SmallDown" @bind-Matches="IsSmall" />