<tr>
    @switch (ComponentSource)
    {
        case Enums.ComponentSource.FixturesAndResults:
            <td>@GetStageName(FixtureAndResultModel)</td>
            break;
        default:
            break;
    }
    <td>
        @if (FixtureAndResultModel.HomeTeam.TeamID > 0)
        {
            <a href="@GetTeamUrl(FixtureAndResultModel.HomeTeam.TeamID)" target="_parent">
                @GetTeamName(FixtureAndResultModel.HomeTeam)
            </a>
        }
        else
        {
            @GetTeamName(FixtureAndResultModel.HomeTeam)
        }
    </td>
    <td>@GetScoreOrKickOffTime(FixtureAndResultModel)</td>
    <td>
        @if (FixtureAndResultModel.AwayTeam.TeamID > 0)
        {
            <a href="@GetTeamUrl(FixtureAndResultModel.AwayTeam.TeamID)" target="_parent">
                @GetTeamName(FixtureAndResultModel.AwayTeam)
            </a>
        }
        else
        {
            @GetTeamName(FixtureAndResultModel.AwayTeam)
        }
    </td>
</tr>