@if (HasGroups)
{
    <h2 style="padding-bottom: 10px;">@GroupOrLeagueTableModel.Name</h2>
}

<style>
    table th {
        text-align: center;
    }

    table td {
        text-align: center;
    }

        table td:first-child {
            text-align: left;
        }
</style>

<table class="table">
    <tr>
        <th></th>

        @if (IsSmall)
        {
            <th>
                Pld
            </th>
        }
        else
        {
            <th>
                Played
            </th>
        }

        @if (!IsSmall)
        {
            <th>Won</th>
            <th>Drawn</th>
            <th>Lost</th>
            <th>Goals For</th>
            <th>Goals Against</th>
        }

        @if (IsSmall)
        {
            <th>
                GD
            </th>
            <th>
                Pts
            </th>
        }
        else
        {
            <th>
                Goal Difference
            </th>
            <th>
                Points
            </th>
        }
    </tr>
    @foreach (var groupOrLeagueTableStanding in GroupOrLeagueTableModel.GroupOrLeagueTableStandings)
    {
        <tr>
            <td>
                <span style="padding-right: 12px;">@GetPosition(GroupOrLeagueTableModel.Name, groupOrLeagueTableStanding)</span>
                <span>
                    <span style="padding-right:8px">
                        <img src="@groupOrLeagueTableStanding.Team.TeamCrestUrl" width="40" height="55" />
                    </span>
                    <span>
                        <a href="team/@groupOrLeagueTableStanding.Team.TeamID">@groupOrLeagueTableStanding.Team.Name</a>
                    </span>
                </span>
            </td>
            <td>@groupOrLeagueTableStanding.GamesPlayed</td>

            @if (!IsSmall)
            {
                <td>@groupOrLeagueTableStanding.GamesWon</td>
                <td>@groupOrLeagueTableStanding.GamesDrawn</td>
                <td>@groupOrLeagueTableStanding.GamesLost</td>
                <td>@groupOrLeagueTableStanding.GoalsScored</td>
                <td>@groupOrLeagueTableStanding.GoalsAgainst</td>
            }

            <td>@groupOrLeagueTableStanding.GoalDifference</td>
            <td>@groupOrLeagueTableStanding.PointsTotal</td>
        </tr>
    }
</table>

@if (HasGroups && GroupOrLeagueTableModel.Name != GroupNames.ThirdPlaceRankings)
{
    <div>
        <button class="toggleFixtureAndResultsVisibilityButton" @onclick="@ToggleVisbilityOfFixtures">@hideOrShow Fixtures</button>
        @if (FixturesVisible)
        {
            <FixturesAndResultsByGroupOrLeagueTable FixturesAndResultsByGroupOrLeagueTableModel="@GroupOrLeagueTableModel.FixturesAndResultsByGroupOrLeagueTable"></FixturesAndResultsByGroupOrLeagueTable>
        }
    </div>
}

<MediaQuery Media="@BlazorPro.BlazorSize.Breakpoints.SmallDown" @bind-Matches="IsSmall" />
