@if (Players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="@GetResultsTableClass(IsSmall)">
        <tr>
            <th>
                <span class="sort-link" onclick=@(() => SortTable("Name"))>
                    Name
                </span>

                <span>@(GetSortStyle("Name"))</span>
            </th>
            <th>
                @if (IsSmall)
                {
                    <span class="sort-link" onclick=@(() => SortTable("TeamName"))>
                        Team
                    </span>
                }
                else
                {
                    <span class="sort-link" onclick=@(() => SortTable("TeamName"))>
                        Team Name
                    </span>
                }

                <span>@(GetSortStyle("TeamName"))</span>
            </th>
            <th>
                @if (IsSmall)
                {
                    <span class="sort-link" onclick=@(() => SortTable("Position"))>
                        Pos.
                    </span>
                }
                else
                {
                    <span class="sort-link" onclick=@(() => SortTable("Position"))>
                        Position
                    </span>
                }

                <span>@(GetSortStyle("Position"))</span>
            </th>
            <th>
                <span class="sort-link" onclick=@(() => SortTable("Age"))>
                    Age
                </span>

                <span>@(GetSortStyle("Age"))</span>
            </th>
            <th>
                @if (IsSmall)
                {
                    <span class="sort-link" onclick=@(() => SortTable("DateOfBirth"))>
                        DOB
                    </span>
                }
                else
                {
                    <span class="sort-link" onclick=@(() => SortTable("DateOfBirth"))>
                        Date of Birth
                    </span>
                }

                <span>@(GetSortStyle("DateOfBirth"))</span>
            </th>
            <th>
                @if (IsSmall)
                {
                    <span class="sort-link" onclick=@(() => SortTable("Nationality"))>
                        Country
                    </span>
                }
                else
                {
                    <span class="sort-link" onclick=@(() => SortTable("Nationality"))>
                        Player Nationality
                    </span>
                }

                <span>@(GetSortStyle("Nationality"))</span>
            </th>
            <th>
                @if (IsSmall)
                {
                    <span class="sort-link" onclick=@(() => SortTable("PosiConfederationForDisplaytion"))>
                        Conf.
                    </span>
                }
                else
                {
                    <span class="sort-link" onclick=@(() => SortTable("ConfederationForDisplay"))>
                        Confederation
                    </span>
                }
                
                <span>@(GetSortStyle("ConfederationForDisplay"))</span>
            </th>
            <th>
                @if (IsSmall)
                {
                    <span class="sort-link" onclick=@(() => SortTable("TeamCurrentPosition"))>
                        Team Pos.
                    </span>
                }
                else
                {
                    <span class="sort-link" onclick=@(() => SortTable("TeamCurrentPosition"))>
                        Team Current Position
                    </span>
                }

                <span>@(GetSortStyle("TeamCurrentPosition"))</span>
            </th>
        </tr>
        @foreach (var player in Players)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.TeamName</td>
                <td>@player.Position</td>
                <td>@player.Age</td>
                <td>@GetPlayerDateOfBirth(player)</td>
                <td>@player.Nationality</td>
                <td>@player.ConfederationForDisplay</td>
                <td style="text-align:center;">@player.TeamCurrentPosition</td>
            </tr>
        }
    </table>
}

<MediaQuery Media="@BlazorPro.BlazorSize.Breakpoints.SmallDown" @bind-Matches="IsSmall" />