@page "/team/{TeamID:int}"

@using Euro2020BlazorApp.Data;
@using Euro2020BlazorApp.Components;
@using Euro2020BlazorApp.Models.Enums;
@inject IFootballDataService FootballDataService;

@if (team == null)
{
    <p><em>Loading...</em></p>
}
else if (team.TeamID == 0)
{
    <p><em>The team could not be found</em></p>
}
else
{
    <table style="margin-bottom: 20px;">
        <tr>
            <td style="padding-right: 12px;"><img src="@team.TeamCrestUrl" width="60" height="75" /></td>
            <td><h1>@team.Name</h1></td>
        </tr>
    </table>

    <table class="table" style="width: 630px;">
        <tr>
            <th>Year Founded</th>
            <th>Website</th>
            <th>Team Colours</th>
            <th>Home Stadium</th>
        </tr>
        <tr>
            <td>@team.YearFounded</td>
            <td><a href="@team.Website">Team Website</a></td>
            <td>@team.TeamColours</td>
            <td>@team.HomeStadium</td>
        </tr>
    </table>

    <Squad Players="orderedPlayers"></Squad>

    @if (fixturesAndResultsExist)
    {
        <h3 style="padding-bottom: 10px;">Fixtures</h3>

        <button class="toggleFixtureAndResultsVisibilityButton" @onclick="@ToggleVisbilityOfFixtures">@hideOrShow Fixtures</button>
        @if (FixturesVisible)
        {
            <table class="table" style="width: 450px; margin-bottom: 20px;">
                @foreach (var fixtureandResultByDay in team.FixturesAndResultsByDays)
                {
                    <FixturesAndResultsByDay ComponentSource="Enums.ComponentSource.Team" FixturesAndResultsByDayModel="fixtureandResultByDay"></FixturesAndResultsByDay>
                }
            </table>
        }
    }
}

@code {
    private Models.Team team = null;

    private bool fixturesAndResultsExist => team?.FixturesAndResultsByDays != null
                                            && (team?.FixturesAndResultsByDays?.Count ?? 0) > 0;

    private bool FixturesVisible { get; set; } = false;

    private string hideOrShow => FixturesVisible ? "Hide" : "Show";

    private List<Models.Player> orderedPlayers = null;

    [Parameter]
    public int TeamID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        team = await FootballDataService.GetTeam(TeamID);

        orderedPlayers = team
                            .Squad
                            .OrderBy(x => x.Name)
                            .ToList();
    }

    private void ToggleVisbilityOfFixtures()
    {
        FixturesVisible = !FixturesVisible;
    }
}
